:root[data-theme="elsa"] {
    --background: rgb(53, 98, 126);
    --gradient: linear-gradient(0deg, rgba(53, 98, 126, 1) 0%, rgba(141, 184, 219, 1) 59%);
    --bgCard: linear-gradient(3deg, rgba(225, 247, 255, 1) 0%, rgba(2, 0, 125, 1) 99%);
    --bgCardColor: rgb(225, 247, 255);
    --bgCardGradient2: linear-gradient(0deg, #35627e 0%, #c2d8e5 100%);
    --bgCardColor2: 35627e;
    --white: #fff;
    --lightBlue: #ACE5EE;
    --normalBlue: #59ACD2;
    --blue: #71A6D2;
    --darkBlue: rgba(2, 0, 125, 1);
    --topNavColor: #f2f2f2;
    --bgImgHome: url('../img/home/bg.jpg');
    --black: #0000;
    --white: #fff;
    --bgStart: rgb(113, 166, 210);
    --gradientStart: linear-gradient(3deg, rgba(113, 166, 210, 1) 45%, rgba(255, 255, 255, 1) 100%);
    --buttonQuiz: rgb(0, 102, 204);
    --colorSlider: #2968bb;
    /**pictures***/
    --bgImgHome: url('../img/home/bg.jpg');
    --imgStart1: url("../img/home/cloud2.webp");
    --imgStart2: url("../img/home/castle.png");
    --imgStart3: url("../img/home/cloud3.webp");
    --imgStart4: url("../img/home/cloud1.png");
    --imgStartPerson: url('../img/home/elsa.png');
    --personPosition: right bottom;
    --castlePosition: left bottom;
    --colorButtonDown: #000;
    --hoverNav: rgba(180, 146, 232, 0.8);
    --imgSlider: url('../img/snowflake.webp');
}

:root[data-theme="anna"] {
    --background: rgb(99, 0, 35);
    --gradient: linear-gradient(0deg, #8f3985 0%, #ab66a7 59%);
    --bgCard: linear-gradient(0deg, rgb(140, 0, 49) 0%, rgba(99, 0, 35, 1) 59%);
    --bgCardColor: rgb(99, 0, 35);
    --bgCardGradient2: linear-gradient(0deg, rgb(140, 0, 49) 0%, rgba(99, 0, 35, 1) 59%);
    --bgCardColor2: rgb(232,11,89);
    --white: #fff;
    --lightBlue: rgb(247,229,255);
    --normalBlue: rgb(248,204,227);
    --blue: rgb(136,21,52);
    --darkBlue: /**#8f3985**/rgb(87,25,50);
    --topNavColor: #f2f2f2;
    --bgImgHome: url('../img/home/bg.jpg');
    --black: #0000;
    --white: #fff;
    --bgStart: rgb(99, 0, 35);
    --gradientStart: linear-gradient(0deg, rgb(140, 0, 49) 0%, rgba(99, 0, 35, 1) 59%);
    --buttonQuiz: rgb(111,96,137);
    --colorSlider: rgb(111,96,137);
    /**pictures***/
    --bgImgHome: url('../img/home/bg2.jpg');
    --imgStart1: url("../img/home/leaves.png");
    --imgStart2: url("../img/home/sven.png");
    --imgStart3: url("../img/home/leaves2.png");
    --imgStart4: url("../img/home/leaves1.png");
    --imgStartPerson: url('../img/home/anna.png');
    --personPosition: left bottom;
    --castlePosition: right bottom;
    --colorButtonDown: #fff;
    --hoverNav: rgba(240, 89, 89, 0.8);
    --strokeWidth: 0.1rem;
    --strokeColor: rgb(99, 0, 35);
    --imgSlider: url('../img/leaf.png');
}


/**
#linksNav a:hover {
    border-radius: 2vw;
    background-color: var(--hoverNav);

}**/

/***
handy, tablet width verändern 
#linksNav a